
.group-dropdown-container {
  padding: 0 20px 0 0;
}

.create-group-text {
  padding: 0 0 0 5px;
}

.create-group-border-container {
  padding: 3px 0 0 75px;
}

.create-group-container {
  background-color: #0065f9;
  color: white;
  border: 1px solid #DBE2E9;
  font-size: 0.9em;
  border-radius: 3px;
  padding: 5px 8px;
}


.group-actions-modal-container {
  display: flex;
  flex-direction: column;
}

.move-to-group-modal {
  display: flex;
  flex-direction: column;
}

.move-to-group-container {
  display: flex;
  flex-direction: column;
}

.move-to-group-list {
  overflow: scroll;
  height: 205px;
  margin-bottom: 0;
}

.move-to-modal-actions {
  display:flex;
  justify-content: flex-end;
  padding: 16px 0 0 0;
  border-top-style: solid;
  border-top-width: 1px;
}

.remove-from-group-actions {
  display:flex;
  justify-content: flex-end;
  padding: 16px 0 0 0;
}